<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanket.androidplayground2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".commons.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".misc.permissions.LocationPermissionActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".misc.RuntimePermissionsActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".misc.AddCalendarEventActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".misc.EncryptedSharedPreferencesActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".misc.DynamicLauncherIconAndTextActivity"
            android:exported="false" />
        <activity
            android:name=".misc.MiscActivity"
            android:exported="false" />
        <activity
            android:name=".communication.SSEActivity"
            android:exported="false" />
        <activity
            android:name=".communication.CommunicationActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.internet_observer.InternetObserverActivity"
            android:exported="false" />
        <activity
            android:name=".third_party.LottieActivity"
            android:exported="false" />
        <activity
            android:name=".compose.ComposeActivity"
            android:exported="false" />
        <activity
            android:name=".third_party.LibrariesActivity"
            android:exported="false" />
        <activity
            android:name=".appcomponents.activity.BLifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".appcomponents.activity.ALifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".appcomponents.activity.ExamplesActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentHolderActivity"
            android:exported="true" />
        <activity
            android:name=".appcomponents.services.activities.StopWatchTimerActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.LongRunningTaskActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.RoomDatabaseActivity"
            android:exported="true" />
        <activity
            android:name=".widgets.WidgetsActivity"
            android:exported="true" />
        <activity android:name=".coroutines.ParallelNetworkCallActivity" />
        <activity android:name=".coroutines.SeriesNetworkCallActivity" />
        <activity android:name=".coroutines.SingleNetworkCallActivity" />
        <activity android:name=".coroutines.CoroutinesExamplesActivity" />
        <activity android:name=".hilt.HiltActivity" />
        <activity android:name=".appcomponents.services.activities.ForegroundServiceActivity" />
        <activity android:name=".appcomponents.services.activities.ServicesExampleActivity" />
        <activity android:name=".appcomponents.AppComponentsActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SpeechToTextActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".OneLauncherAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_baseline_mood_24"
            android:label="One"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".TwoLauncherAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_baseline_mood_bad_24"
            android:label="Two"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ThreeLauncherAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_baseline_outlet_24"
            android:label="Three"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service android:name=".appcomponents.services.services.ForegroundService" />
        <service android:name=".appcomponents.services.services.TimerService" />
        <service android:name=".appcomponents.services.services.MyBackgroundService" />
        <service android:name=".appcomponents.services.services.MyForegroundService" />

        <receiver
            android:name=".appcomponents.services.MyBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>